@font-face {
    font-family: Renju;
    src: url('Renju/Renju.otf');
}

@font-face {
    font-family: IIOTPA4EHO;
    src: url('IIOTPA4EHO/IIOTPA4EHO.otf');
}

@font-face {
    font-family: Stengazeta;
    src: url('Stengazeta/Stengazeta-Regular_5.ttf');
}

@font-face {
    font-family: Aerodynamic;
    src: url('Aerodynamic/Aerodynamic.otf');
}
