<!--
    "Начиналось все весело, а закончилось не очень"
    Распечатаю наверно себе листик с этой фразой, и повешу радом с монитором.
    Ну а че, настройки все пришлось убрать, конфиги подсократить.
    Сеньор, миддл этот... чем им не понравилась малипуська и стандарчелло... ну не знаю.
    Мне теперь не нравится этот морской бой...

    Кто сюда заглянет, знайте: тут много гонокодищща. И если вы найдёте какой-то баг,
    который крашит игру, то сообщите плиз в телегу @iisador.
    Малинка и так на ладан дышит, а если во время нагрузки дочь начнет сейлор мун смотреть, то вообще помрёт.

    Кароче оказывается игра быдет использоваться только для определения следующего места проведения крабра
    Поэтому я дал волю своему внутреннему демону говнокода (_._)
-->
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link href="/fonts/fonts.css" rel="stylesheet">
    <link href="/css/common.css" rel="stylesheet">
    <link href="/css/hello.css" rel="stylesheet">

    <title>{msg:game_title}</title>
</head>
<body>
<script>

    function validate(username, password) {
        if (!username || /^\s*$/.test(username)) {
            printError('Ну нормальное имя введи');
            return false;
        }

        if (username.length > 50) {
            printError('Длинноватый логин. 50 символов обычно достаточно');
            return false;
        }

        if (!password || /^\s*$/.test(password)) {
            printError('Ну пароль придумай человеческий');
            return false;
        }

        if (password.length > 150) {
            printError('Ну и пароль. Зачем такой длинный-то?)) 150 символов хватит');
            return false;
        }

        return true;
    }

    function login() {
        let username = document.getElementById("username").value;

        // Ну, тут надо было как-то пароль скрыть
        // т.к. с кваркусовской авторизацией нет времени разбираться
        // решаем ситуацию таким "оригинальным" (лол) образом

        let password = 'пыщь_пыщь_ололо_я_водитель_нло';
        if (validate(username, password)) {
            const formData = new URLSearchParams();
            formData.append("j_username", username);
            formData.append("j_password", password);

            fetch("j_security_check", {
                method: "POST",
                body: formData,
                headers: {
                    "Content-Type": "application/x-www-form-urlencoded",
                },
            }).then((response) => {
                if (response.status === 200) {
                    window.location.replace("/lobby");
                } else {
                    register(username, password);
                }
            }).catch((error) => {
                printError('Небольшие технические чоколатки: ' + error);
            });
        }
    }

    function register(username, password) {
        fetch("hello", {
            method: "POST",
            body: JSON.stringify({ username: username, password: password }),
            headers: {
                "Content-Type": "application/json",
            },
        }).then(async (response) => {
            const t = await response.text();
            if (response.status === 200) {
                if (t === 'contains') {
                    printError('Пользователь уже существует');
                } else if (t === 'created') {
                    login();
                }
            } else {
                printError('Небольшие технические чоколатки: ' + t);
            }
        }).catch((error) => {
            printError('Небольшие технические чоколатки: ' + error);
        });
    }

    function printError(str) {
        const eWrapper = document.getElementById('errorWrapper');
        if (eWrapper.children.length > 0) {
            eWrapper.removeChild(eWrapper.children[0]);
        }
        const div = document.createElement('div');
        div.className = 'loginError';
        div.innerText = str;
        eWrapper.appendChild(div);
    }

    document.addEventListener('keypress', function (e) {
        if (e.code === 'Enter') {
            document.getElementById('loginBtn').click();
        }
    });
</script>
<div id="helloWrapper">
    <div id="headerWrapper">
        <img src="/img/logo.svg">
    </div>
    <div id="titleWrapper">
        <span class="bigTitle">Добро пожаловать в морской бой!</span>
    </div>
    <div id="errorWrapper" class="errorText"></div>
    <div id="loginWrapper">
        <input type="text" placeholder="Логин" id="username" name="j_username" required>
    </div>
    <div id="btnWrapper">
        <button id="loginBtn" type="button" class="standardBtn" onclick="login()">Попутного ветра!</button>
    </div>
</div>
</body>
</html>
