<!--
    "Начиналось все весело, а закончилось не очень"
    Распечатаю наверно себе листик с этой фразой, и повешу радом с монитором.
    Ну а че, настройки все пришлось убрать, конфиги подсократить.
    Сеньор, миддл этот... чем им не понравилась малипуська и стандарчелло... ну не знаю.
    Мне теперь не нравится этот морской бой...

    Кто сюда заглянет, знайте: тут много гонокодищща. И если вы найдёте какой-то баг,
    который крашит игру, то сообщите плиз в телегу @iisador.
    Малинка и так на ладан дышит, а если во время нагрузки дочь начнет сейлор мун смотреть, то вообще помрёт.

    Кароче оказывается игра быдет использоваться только для определения следующего места проведения крабра
    Поэтому я дал волю своему внутреннему демону говнокода (_._)
-->
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link href="/fonts/fonts.css" rel="stylesheet">
    <link href="/css/common.css" rel="stylesheet">
    <link href="/css/hello.css" rel="stylesheet">

    <title>{msg:game_title}</title>
</head>
<body>
<script>
    function validate(username, password) {
        if (!username || /^\s*$/.test(username)) {
            printError('Логин некорректный');
            return false;
        }

        if (username.length > 50) {
            printError('Слишком длинный логин');
            return false;
        }

        if (!password || /^\s*$/.test(password)) {
            printError('Некорректный логин');
            return false;
        }

        if (password.length > 150) {
            printError('Слишком длинный пароль');
            return false;
        }

        return true;
    }

    function login() {
        let username = document.getElementById("username").value;
        let password = document.getElementById("password").value;

        if (validate(username, password)) {
            const formData = new URLSearchParams();
            formData.append("j_username", username);
            formData.append("j_password", password);

            fetch("j_security_check", {
                method: "POST",
                body: formData,
                headers: {
                    "Content-Type": "application/x-www-form-urlencoded",
                },
            }).then((response) => {
                if (response.status === 200) {
                    window.location.replace("/lobby");
                } else {
                    printError('Ошибка в логине или пароле');
                }
            }).catch((error) => {
                printError('Хмм... что-то пошло не так: ' + error);
            });
        }
    }

    function printError(str) {
        const eWrapper = document.getElementById('errorWrapper');
        if (eWrapper.children.length > 0) {
            eWrapper.removeChild(eWrapper.children[0]);
        }
        const div = document.createElement('div');
        div.className = 'loginError';
        div.innerText = str;
        eWrapper.appendChild(div);
    }

    document.addEventListener('keypress', function (e) {
        if (e.code === 'Enter') {
            document.getElementById('loginBtn').click();
        }
    });

    function addRowToTable(tableId, top, gameId, createTime, gameType, players) {
        const tbodyRef = document.getElementById(tableId).getElementsByTagName('tbody')[0];
        const newRow = tbodyRef.insertRow(top ? 0 : -1);
        newRow.id = gameId;
        fillRow(newRow, gameId, createTime, gameType, players);
    }

    function fillRow(row, gameId, createTime, gameType, players) {
        const timeCell = row.insertCell();
        timeCell.appendChild(document.createTextNode(createTime));
        row.appendChild(timeCell);

        const typeCell = row.insertCell();
        typeCell.appendChild(document.createTextNode(gameType));
        row.appendChild(typeCell);

        const playersCell = row.insertCell();
        playersCell.appendChild(document.createTextNode(players));
        row.appendChild(playersCell);

        const watchCell = row.insertCell();
        watchCell.style.textAlign = '-webkit-center';
        const watchDiv = document.createElement('div');
        watchDiv.className = 'btnView';
        watchDiv.onclick = function () {
            window.location.replace('/games/' + gameId + '/view');
        };
        watchCell.appendChild(watchDiv);
        row.appendChild(watchCell);
    }

    function modifyRow(gameId, createTime, gameType, players) {
        const row = document.getElementById(gameId);
        while (row.firstChild) {
            row.removeChild(row.lastChild);
        }
        fillRow(row, gameId, createTime, gameType, players);
    }

    function removeRow(gameId) {
        const e = document.getElementById(gameId)
        if (e) {
            e.parentElement.removeChild(e);
        }
    }

    function clearTable(tableId) {
        const tbodyRef = document.getElementById(tableId).getElementsByTagName('tbody')[0];
        const new_tbody = document.createElement('tbody');
        tbodyRef.parentNode.replaceChild(new_tbody, tbodyRef);
    }

    function connect() {
        let socket = new WebSocket("ws://" + location.host + "/lobby/games");
        socket.onmessage = function (m) {
            const cmd = JSON.parse(m.data);

            if (Array.isArray(cmd)) {
                // Я буду удалять сейчас все игры!
                clearTable('gamesTable');

                // Я буду устанавливать сейчас все игры!
                for (let i = 0; i < cmd.length; i++) {
                    if (cmd[i].status === 'PLAYING') {
                        modifyRow(cmd[i].id, cmd[i].createTime, cmd[i].configName, cmd[i].players, cmd[i].status);
                    }
                    if (cmd[i].status === 'WAITING') {
                        addRowToTable('gamesTable', true, cmd[i].id, cmd[i].createTime, cmd[i].configName, cmd[i].players, cmd[i].status)
                    }
                }
            }

            if (cmd.type === 'GAME_CHANGED') {
                if (cmd.status === 'PLAYING') {
                    modifyRow(cmd.id, cmd.createTime, cmd.configName, cmd.players, cmd.status);
                }
                if (cmd.status === 'FINISHED' || cmd.status === 'FAILED') {
                    removeRow(cmd.id);
                }
                if (cmd.status === 'WAITING') {
                    addRowToTable('gamesTable', true, cmd.id, cmd.createTime, cmd.configName, cmd.players, cmd.status)
                }
            }
        };

        socket.onerror = function () {
            socket.close();
        };

        socket.onclose = function () {
            setTimeout(function () {
                connect();
            }, 2000);
        };
    }

    window.onload = function () {
        connect();
    };
</script>
<div id="helloWrapper">
    <div id="headerWrapper">
        <img src="/img/logo.svg">
    </div>
    <div id="titleWrapper">
        <span class="bigTitle">Добро пожаловать в морской бой!</span>
    </div>
    <div id="errorWrapper" class="errorText"></div>
    <div id="loginWrapper">
        <input type="text" placeholder="Логин" id="username" name="j_username" required>
    </div>
    <div id="passwordWrapper">
        <input type="password" placeholder="Пароль" id="password" name="j_password" required>
    </div>
    <div id="btnWrapper">
        <button id="loginBtn" type="button" class="standardBtn" onclick="login()">Попутного ветра!</button>
    </div>
    <div id="bottomWrapper">
        <span class="midTitle">Текущие игры</span>
        <table id="gamesTable">
            <thead>
            <tr>
                <th>Создана</th>
                <th>Тип</th>
                <th>Игроки</th>
                <th>Посмотреть</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        <span style="font-size: medium;">Если не знакомы с правилами игры, почитайте <span
                    style="font-style: italic;text-decoration: underline; cursor: pointer" onclick="showHelp('helpModal')">справку.</span></span>
    </div>
</div>
</body>
</html>
