<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{msg:game_title}</title>
    <link href="/fonts/fonts.css" rel="stylesheet">
    <link href="/css/common.css" rel="stylesheet">
    <link href="/css/help.css" rel="stylesheet">
</head>
<script>
    function toLobby() {
        window.location.replace("/lobby");
    }
</script>
<body>
<div id="lobbyWrapper">
    <div id="headerWrapper">
        <div id="logo">
            <img style="width: 120px;height: auto;" src="/img/logo_ca.svg">
        </div>
    </div>
    <div id="logoCr">
        <img style="width: 120px;height: auto;" src="/img/logo_cr.svg">
    </div>
    <div id="leftWrapper"></div>
    <div id="centerWrapper">
        <div id="descr">
            <span class="bigTitle">Правила игры</span>
            <div>
                <ul>
                    <li>Выбираем предустановленные настройки, или заполняем самостоятельно:</li>
                    <ul>
                        <li>Касание границ: могу ли корабли касаться границ поля</li>
                        <li>Касание углов кораблей: могут ли корабли касаться друг друга углами или нет</li>
                        <li>Размер поля: ну тут всё должно быть понятно</li>
                        <li>Набор кораблей: отвечает за виды и количество кораблей на поле ("вид"x"количество";)</li>
                    </ul>
                    <li>Расставляем корабли:</li>
                    <ul>
                        <li>Самостоятельная расстановка Для этого достаточно нажать на поле и протащить курсор на нужное число палуб. Если выбранное
                            место удовлетворяет правилам игры - корабль сразу отрисуется. К сожалению в мобильной версии ручная расстановка кораблей
                            не работает:(
                        </li>
                        <li>В случайном порядке. Для этого достаточно нажать кнопку <img class="btnRandom"> и на поле сразу появится флот. Если
                            алгоритм не смог
                            расставить корабли, кнопку можно нажать ещё раз.
                        </li>
                        <li>Очистка поля, осуществляется кнопкой <img class="btnReset">.</li>
                        <li><img src="/img/placeExample.gif"></li>
                    </ul>
                    <li>После расстановки кораблей будет доступна кнопка "ПОЕХАЛИ". Она и создаёт новую игру</li>
                    <li>После создания игры она появится в списке текущих игр в лобби, и любой игрок сможет присоединиться к ней.</li>
                    <li>Для присоединиться к игре надо нажать кнопку <img class="btnJoin">, расставить корабли в соответствии с настройками игры и
                        также нажать кнопку
                        "ПОЕХАЛИ".
                    </li>
                    <li>Присоединиться к игре в качестве наблюдателя можно по кнопке <img class="btnView">.</li>
                    <li>Вначале игра находится в режиме ожидания соперника. После присоединения соперника заголовок сменится и, под ним будет
                        указано имя атакующего. <img src="/img/waitingExample.gif"></li>
                    <li>Общение соперников и зрителей организовано в чате игры. Он расположен в самом низу.</li>
                    <li>После окончания игры проигравшему сопернику покажется расстановка кораблей противника.
                    <li>Посмотреть общую статистику побед можно по ссылке "Статистика" внизу экрана лобби.</li>
                </ul>
            </div>
            <div id="rightWrapper"></div>
            <div id="bottomWrapper">
                <button id="toLobby" class="standardBtn" onclick="toLobby()">яснопонятно, в лобби</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>
