<!--
    Я не люблю жс. Я слишком стар для этого дерьма.
    Ну, не знаю, не перевариваю я динамическую типизацию.
    Меня дедушка не так воспитал. Мне нравится когда все типы определены.
    Ну да ладно.

    Игра была создана только благодаря тому, что я могу быстро дойти до пика Балмера.
    Если Вы фанат чистокода - не смотрите дальше.
    Да простит меня дядюшка Боб.
-->
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{msg:game_title}</title>
    <link href="/fonts/fonts.css" rel="stylesheet">
    <link href="/css/common.css" rel="stylesheet">
    <link href="/css/field.css" rel="stylesheet">
    <link href="/css/lobby.css" rel="stylesheet">
    <script src="/js/game.js"></script>
    <script src="/js/field.js"></script>
</head>
<script>
    let playerMatrix;
    let playerField;

    function addRowToTable(tableId, top, gameId, createTime, players, gameStatus) {
        const tbodyRef = document.getElementById(tableId).getElementsByTagName('tbody')[0];
        const newRow = tbodyRef.insertRow(top ? 0 : -1);
        newRow.id = gameId;
        fillRow(newRow, gameId, createTime, players, gameStatus);
    }

    function fillRow(row, gameId, createTime, players, gameStatus) {
        const timeCell = row.insertCell();
        timeCell.appendChild(document.createTextNode(createTime));
        row.appendChild(timeCell);

        const playersCell = row.insertCell();
        playersCell.appendChild(document.createTextNode(players));
        row.appendChild(playersCell);

        const watchCell = row.insertCell();
        watchCell.style.textAlign = '-webkit-center';
        const watchDiv = document.createElement('div');
        watchDiv.className = 'btnView';
        watchDiv.onclick = function() {
            window.location.replace('/games/' + gameId + '/view');
        };
        watchCell.appendChild(watchDiv);
        row.appendChild(watchCell);

        if(gameStatus === 'WAITING') {
            const joinCell = row.insertCell();
            joinCell.style.textAlign = '-webkit-center';
            const joinDiv = document.createElement('div');
            joinDiv.className = 'btnJoin';
            joinDiv.onclick = function() {
                window.location.replace('/games/' + gameId + '/join');
            };
            joinCell.appendChild(joinDiv);
            row.appendChild(joinCell);
        }
    }

    function modifyRow(gameId, createTime, players, gameStatus) {
        const row = document.getElementById(gameId);
        while (row.firstChild) {
            row.removeChild(row.lastChild);
        }
        fillRow(row, gameId, createTime, players, gameStatus);
    }

    function removeRow(gameId) {
        const e = document.getElementById(gameId)
        if(e) {
            e.parentElement.removeChild(e);
        }
    }

    function clearTable(tableId) {
        const tbodyRef = document.getElementById(tableId).getElementsByTagName('tbody')[0];
        const new_tbody = document.createElement('tbody');
        tbodyRef.parentNode.replaceChild(new_tbody, tbodyRef);
    }

    function newGame() {
        const selectedConfig = document.getElementById('gameConf').value;

        fetch("/games", {
            method: "POST",
            body: JSON.stringify({
                field: JSON.stringify(playerMatrix.getMatrix()),
                config: selectedConfig
            }),
            headers: {
                "Content-Type": "application/json",
            },
        }).then(async (response) => {
            if (response.status === 200) {
                const gameId = await response.text();
                window.location.replace("/games/" + gameId);
            } else if (response.status === 400) {
                alert('Расстановка флота не удовлетворяет конфигу. Похоже ты хитрюга)');
            } else {
                alert("Небольшие технические чоколадки. Попробуйте создать игру заново" + response);
            }
        }).catch((error) => {
            alert("Небольшие технические чоколадки. " + error);
        });
    }

    function resetGame() {
        const selectedConfig = document.getElementById('gameConf').value;
        const config = JSON.parse(document.getElementById('gameConfig_' + selectedConfig).value);

        playerMatrix = new Matrix(parseInt(config.fieldSize), config.ships, new PositionConfig(config.bordersAllowed, config.cornersAllowed));
        playerField = new Field(parseInt(config.fieldSize), '33px');
        playerField.drawField(document.getElementById('battlefieldWrapper'));

        document.getElementById('btnNewGame').disabled = true;
        document.getElementById('btnNewGame').innerText = 'Надо расставить корабли';
    }

    function random(max) {
        return Math.floor(Math.random() * max);
    }

    // Ваще в тупую расстанавливаем.
    // Прям как оценки требований делаем кароче.
    function randomFill() {
        resetGame();
        const sortedDeckCount = Array.from(playerMatrix.getShipConfig().keys()).sort().reverse();

        let resetCount = 1989;
        while (!playerMatrix.isFull() || resetCount < 0) {
            resetGame();
            resetCount = resetCount - 1;

            for (let deckCount of sortedDeckCount) {
                if (!playerMatrix.hasFreeCells(deckCount)) {
                    break;
                }

                for (let i = 0; i < playerMatrix.getShipConfig().get(deckCount); i++) {
                    let placed = false;
                    let retryCount = 42; // Ага ага, это магия!!!
                    while (!placed && retryCount > 0) {
                        const direction = random(2) ? 'horizontal' : 'vertical';
                        const x = this.random(playerMatrix.getSize());
                        const y = this.random(playerMatrix.getSize());
                        if (playerMatrix.canPlaceShip(deckCount, x, y, direction)) {
                            playerMatrix.placeShip(deckCount, x, y, direction);
                            playerField.drawShip(deckCount, x, y, direction);
                            placed = true;
                        }
                        retryCount--;
                    }
                }
            }

            if (playerMatrix.isFull()) {
                document.getElementById('btnNewGame').disabled = false;
                document.getElementById('btnNewGame').innerText = 'На абордаж!';
                return;
            }
        }
    }

    let markedBlocks = [];
    let drawingShip = 0;
    document.addEventListener('mousedown', function (e) {
        if (playerField.isEmptyFieldBlock(e.target)) {
            const block = playerField.getBlock(e.target);
            markedBlocks.push(block);
            block.mark()
            drawingShip = 1;
        }
    }, false);

    document.addEventListener("mouseover", function (e) {
        if (drawingShip && playerField.isEmptyFieldBlock(e.target)) {
            const block = playerField.getBlock(e.target);
            if (!markedBlocks.includes(block)) {
                markedBlocks.push(block);
                block.mark();
            }
        }
    });

    document.addEventListener('mouseup', function (e) {
        if (drawingShip && playerField.isEmptyFieldBlock(e.target)) {
            const startBlock = markedBlocks[0];
            const endBlock = playerField.getBlock(e.target);
            if (!endBlock.isOneRow(startBlock) && !endBlock.isOneColumn(startBlock)) {
                for (const block of markedBlocks) {
                    block.restore();
                }
                markedBlocks = [];
                return;
            }

            const deckCount = endBlock.getLength(startBlock);
            const direction = endBlock.isOneRow(startBlock) ? 'horizontal' : 'vertical';
            const computedStartBlock = endBlock.getStartBlock(startBlock);
            if (playerMatrix.canPlaceShip(deckCount, computedStartBlock.getX(), computedStartBlock.getY(), direction)) {
                console.log('placing ship');

                playerMatrix.placeShip(deckCount, computedStartBlock.getX(), computedStartBlock.getY(), direction);
                playerField.drawShip(deckCount, computedStartBlock.getX(), computedStartBlock.getY(), direction)
            } else {
                for (const block of markedBlocks) {
                    block.restore();
                }
            }

            markedBlocks = [];
        } else {
            for (const block of markedBlocks) {
                block.restore();
            }
            markedBlocks = [];
        }

        if (playerMatrix.isFull()) {
            document.getElementById('btnNewGame').disabled = false;
            document.getElementById('btnNewGame').innerText = 'На абордаж!';
        }

        drawingShip = 0;
    }, false);

    function showHelp() {
        document.getElementById('gameWrapper').style.filter = 'grayscale(1)';
        document.getElementById('helpModal').style.visibility = 'visible';
    }

    function hideHelp() {
        document.getElementById('gameWrapper').style.filter = 'grayscale(0)';
        document.getElementById('helpModal').style.visibility = 'hidden';
    }

    function connect() {
        let socket = new WebSocket("ws://" + location.host + "/lobby/games");
        socket.onmessage = function (m) {
            const cmd = JSON.parse(m.data);

            if (Array.isArray(cmd)) {
                // Я буду удалять сейчас все игры!
                clearTable('gamesTable');

                // Я буду устанавливать сейчас все игры!
                for (let i = 0; i < cmd.length; i++) {
                    if (cmd[i].status === 'PLAYING') {
                        modifyRow(cmd[i].id, cmd[i].createTime, cmd[i].players, cmd[i].status);
                    }
                    if (cmd[i].status === 'WAITING') {
                        addRowToTable('gamesTable', true, cmd[i].id, cmd[i].createTime, cmd[i].players, cmd[i].status)
                    }
                }
            }

            if (cmd.type === 'GAME_CHANGED') {
                if (cmd.status === 'PLAYING') {
                    modifyRow(cmd.id, cmd.createTime, cmd.players, cmd.status);
                }
                if (cmd.status === 'FINISHED' || cmd.status === 'FAILED') {
                    removeRow(cmd.id);
                }
                if (cmd.status === 'WAITING') {
                    addRowToTable('gamesTable', true, cmd.id, cmd.createTime, cmd.players, cmd.status)
                }
            }
        };

        socket.onerror = function () {
            socket.close();
        };

        socket.onclose = function () {
            setTimeout(function () {
                connect();
            }, 2000);
        };
    }

    window.onload = function () {
        connect();

        // Установка настроек игры по умолчанию
        const sGameConf = document.getElementById('gameConf');
        sGameConf.value = sGameConf.firstElementChild.value;
        sGameConf.dispatchEvent(new Event('change'));
    };
</script>

<body>
<div id="lobbyWrapper">
    <div id="headerWrapper">
        <div id="logo">
            <img style="width: 120px;height: auto;" src="/img/logo_ca.svg" alt="Лого ЦА">
        </div>
    </div>
    <div id="logoCr">
        <img style="width: 120px;height: auto;" src="/img/logo_cr.svg" alt="Лого ЦР">
    </div>
    <div id="leftWrapper"></div>
    <div id="centerWrapper">
        <div id="gameWrapper">
            <div id="title">
                <span class="bigTitle">Семь футов под килем, {playerName}</span>
            </div>
            <div id="newGameWrapper">
                <div id="gameConfig">
                    <div id="gameConfigTitle"><span class="midTitle">Начать новую игру</span></div>
                    <div id="gameTypeLabel"><label for="gameConf">Предустановка</label></div>
                    <div id="gameTypeConf"><select id="gameConf" name="conf" onchange="resetGame()">
                            {#each gameConfigList}
                                <option value="{it.id}">{it.name}</option>
                            {/each}
                        </select>
                        {#each gameConfigList}
                            <input type="hidden" id="gameConfig_{it.id}" value="{it.config}">
                        {/each}</div>
                    <div id="battlefieldLabel"><label>Расстановка кораблей</label></div>
                    <div id="battlefieldWrapper"></div>
                    <div id="battlefieldButtons">
                        <div id="btnReset" class="btnReset" onclick="resetGame()"></div>
                        <div id="btnFill" class="btnRandom" onclick="randomFill()"></div>
                    </div>
                    <div id="configButtons">
                        <button id="btnNewGame" class="standardBtn" disabled onclick="newGame()">Надо расставить корабли</button>
                    </div>
                </div>
            </div>
            <div id="waitingGamesWrapper">
                <span class="midTitle">Текущие игры</span>
                <table id="gamesTable" style="width: 100%">
                    <thead>
                    <tr>
                        <th>Создана</th>
                        <th>Игроки</th>
                        <th>Посмотреть</th>
                        <th>Присоединиться</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <span style="font-size: medium;">Если не знакомы с правилами игры, почитайте <span style="font-style: italic;text-decoration: underline; cursor: pointer" onclick="showHelp()">справку.</span></span>
        </div>
    </div>
    <div id="rightWrapper">
    </div>
    <div id="bottomWrapper"></div>
    <div id="helpModal" class="modal-window" style="visibility: hidden">
        <div id="help">
            <span class="bigTitle">Правила игры</span>
            <div>
                <ul>
                    <li>Выбираем предустановленные настройки:</li>
                    <ul>
                        <li>Миддл: правила КРаБР. Корабли не касаются друг друга, даже углами. Поле размером 5х5. 2 однопалубника, 1 двухпалубник, 1 трёхпалубник.</li>
                        <li>Сеньор: тут прямо как в школе на химии играли: поле 10х10, полный набор кораблей. Корабли также не могут касаться друг друга.</li>
                    </ul>
                    <li>Расставляем корабли:</li>
                    <ul>
                        <li>Самостоятельная расстановка: Для этого достаточно нажать на поле и протащить курсор на нужное число палуб. Если выбранное
                            место удовлетворяет правилам игры - корабль сразу отрисуется. К сожалению в мобильной версии ручная расстановка кораблей
                            не работает:(
                        </li>
                        <li>В случайном порядке: Для этого достаточно нажать кнопку <img class="btnRandom"> и на поле сразу появится флот. Если
                            алгоритм не смог расставить корабли, кнопку можно нажать ещё раз.
                        </li>
                        <li>Очистка поля, осуществляется кнопкой <img class="btnReset">.</li>
                        <li><img src="/img/placeExample.gif"></li>
                    </ul>
                    <li>После расстановки кораблей будет доступна кнопка "На абордаж!". Она и создаёт новую игру.</li>
                    <li>После создания игры она появится в списке текущих игр в (таблица под настройками), и любой игрок сможет присоединиться к ней.</li>
                    <li>Для присоединения к игре надо нажать кнопку <img class="btnJoin">, расставить корабли в соответствии с настройками игры и
                        также нажать кнопку "На абордаж!".
                    </li>
                    <li>Присоединиться к игре в качестве наблюдателя можно по кнопке <img class="btnView">.</li>
                    <li>Вначале игра находится в режиме ожидания соперника. После присоединения соперника заголовок сменится и, под ним будет
                        указано имя атакующего.</li>
                    <li><img src="/img/waitingExample.gif"></li>
                    <li>После окончания игры проигравшему сопернику покажется расстановка кораблей противника.</li>
                    <li>При выходе из игры - победа автоматически присваивается противнику.</li>
                </ul>
            </div>
            <div id="rightWrapper"></div>
            <div id="bottomWrapper">
                <button id="toLobby" class="standardBtn" onclick="hideHelp()">скрыть справку</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>
